<section class="banner" id="about">
    <div class="">
        <div class="container-fluid">
            <div class="row">
                <div class="header ">
                    <div class="cointainer  p-5 m-2 col-md-6 col-sm-3 ">
                        <h1>Your Health is Our Top Priority</h1>
                        
                    </div>


                </div>



            </div>
        </div>
    </div>
</section>
<section class="bg-light  " style="margin-top:0px">
    <div class="container mt-5">
      
        
        <div class="row  ">
          {{#each doctors}}
             
                <div class="card"style="height:20rem; width:15rem">
                    <img src="/doctor-images/{{this._id}}.jpg" class="card-img-top img-thumbnail" style="width: 50%;">
                    <div class="card-body">
                      <h5 class="card-title">{{this.name}}</h5>
                      <h6 class="card-subtitle mb-2 ">{{this.Specialised}}</h6>
                       <h5 class="card-subtitle mb-2 text-info">{{this.Field}} </h5>

                      
                      <a href="/booking/{{this._id}}" class="btn btn-success ">BOOK</a>
                    </div>
                  </div>
                  {{/each}}
            
           </div>
    </div>
</section>










  

    
